


header .icon-header   {
 width: 50px;
 height: 50px;
}



.carousel-item img {
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    height: 45%;
    max-height: 350px;
    
    min-height: 300px;
    margin: 0 auto;
    
}

.footer {
    background: #061D25;
    padding: 10px 0;
  }
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: white;
  }