*{
  scroll-behavior: smooth;
}
body{
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

}

header .icon-header   {
 width: 50px;
 height: 50px;
}



.carousel-item img {
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    height: 45%;
    max-height: 350px;
    
    min-height: 300px;
    margin: 0 auto;
    
}
.container-contador {
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.container-contador div {
    width: 60px;
    margin: 0 auto;
}

.scrollTop{
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border-radius: 1px solid #fff;
  cursor: pointer;
  transition: all 0.5s ease 0s; 
}

.scrollTop:hover{
  background-color: #f7f7f7;
  color: #000;
}

.footer {
    background: #061D25;
    padding: 10px 0;
  }
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: white;
  }